@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
/*the font should be in the top*/

/* NAVIGATION STYLING */
/* press option/alt and shift for the content */
nav ul{
    list-style-type: none;
    padding: 0; /* for the space of the sentence in front */
    margin: 0; /* centers on the page */
    background-color: rgb(248, 145, 145);

}

nav li{
    display: inline-block; /* to place it in the same line */

    margin-right: 20px; /* for the space in the link */
}

body{
    font-size: 20px;
    background-color: azure;
    color: rgb(126, 120, 91); /* word color */

    max-width: 700px;
    max-width: 70ch; 
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: blue; /* word color for h1 */
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

  